body {
  width: 100%;

  & header {
    width: 100%;
    height: 100px;
    background-color: rgb(25, 97, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1 {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 40px 20px;
    }

    & p {
      font-size: 25px;
      color: #fff;
      margin-right: 60px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  & main {
    width: 100%;
    height: 500px;
    padding-top: 100px;
    margin: 0 auto;
    background-color: rgb(187, 230, 200);
    text-align: left;
    display: flex;
    justify-content: center;
    & .mainImg {
      width: 30%;
      box-sizing: border-box;
      text-align: right;
      & img {
        width: 300px;
        border-radius: 50%;
      }
    }
    & ul {
      width: 60%;
      margin-left: 40px;
      margin-top: 20px;
      & li {
        font-size: 30px;
        color: rgb(92, 88, 88);
        margin: 20px;
        &:nth-of-type(4){
        }
        & a {
          color: rgb(108, 122, 206);
          display: inline-block;
          margin-right: 20px;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  & .gourmet-container {
    width: 100%;
    height: 500px;
    background-color: rgb(205, 212, 205);
    & > h1 {
      font-size: 30px;
      color: black;
      margin-bottom: 50px;
      text-align: center;
      padding-top: 40px;
      font-weight: bold;
    }

    & .gourmet-box {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;

      & .gourmet-img {
        width: 650px;
        height: auto;
        display: flex;
        & .nextBtn {
          width: 30px;
          height: 30px;
          color: #fff;
          font-size: 20px;
          background-color: rgb(87, 87, 212);
          font-weight: bold;
          border-radius: 50%;
          text-align: center;
          line-height: 30px;
          margin-top: 150px;
          cursor: pointer;
          user-select: none;
          &:hover {
            opacity: 0.7;
          }
        }
        & .imagePlace {
          width: 80%;
          height: 300px;
          margin-left: 20px;
          
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          &.mentaiko {
            background-image: url(img/mentaiko.jpg);
          }
          &.motu {
            background-image: url(img/motu.png);
          }
        }
      }
    }
    & .gourment-text1 {
      width: 40%;
      &.disapper {
        display: none;
      }
      & h2 {
        text-align: left;
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: bold;
      }
      & p {
        font-size: 20px;
        line-height: 1.8;
      }
    }
    & .gourment-text2 {
      width: 40%;
      &.disapper {
        display: none;
      }
      & h2 {
        text-align: left;
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: bold;
      }
      & p {
        font-size: 20px;
        line-height: 1.8;
      }
    }
  }
  & .comic {
    width: 100%;
    height: 800px;
    background-color: rgb(90, 122, 122);
    & h1 {
      margin-bottom: 50px;
      padding-top: 80px;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      color: #fff;
    }
    & .comics {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      & ul {
        width: calc(100% - 100px) / 3;
        height: 400px;
        margin-bottom: 100px;
        padding: 20px;
        & li {
          width: 200px;
          margin: 0 auto;
          & h2 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
          }
          & img {
            width: 100%;
            height: 295px;
          }
          & p {
            width: 100%;
            font-size: 15px;
            color: #fff;
            margin-top: 20px;
            line-height: 1.5;
          }
        }
      }
    }
  }
  & .movie {
    width: 100%;
    height: 500px;
    background-color: rgb(46, 122, 97);
    & h1 {
      font-size: 40px;
      text-align: center;
      color: aliceblue;
      padding-top: 40px;
      margin-bottom: 30px;
    }
    & .moviecontainer {
      width: 100%;
      height: auto;
      & ul {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        // opacity: 0;
        &:hover {
          // animation: fluffy 2s linear 0s forwards;
        }
        & li {
          width: 300px;
          margin-left: 80px;
          &:nth-of-type(3) img {
            width: 300px;
          }
          & img {
            width: 200px;
            // opacity: 0;
          }
        }
      }
    }
  }
  & .keishi {
    width: 100%;
    height: 700px;
    background-color: rgb(219, 184, 187);
    box-sizing: border-box;
    padding-top: 100px;
    & h1 {
      font-size: 40px;
      color: rgb(221, 78, 102);
      text-align: center;
      margin-bottom: 70px;
    }
    & .imagesBox {
      display: flex;
      overflow: hidden;
      & ul {
        width: 1250px;
        height: auto;
        background-color: #fff;
        display: flex;
        animation: loop-slide 20s linear 0s infinite normal;
        & li {
          width: 250px;
          height: 250px;
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    & p {
      width: 500px;
      font-size: 25px;
      color: brown;
      margin-top: 50px;
      margin-left: auto;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  & .contact {
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    h1 {
      text-align: center;
      padding-top: 40px;
      margin-bottom: 100px;
      font-size: 35px;
      font-weight: bold;
      color: brown;
    }
    & table {
      width: 80%;
      height: auto;
      margin: 0 auto;
      border-collapse: separate;
      border-spacing: 40px 60px;
      margin-top: -50px;

      & tr:nth-of-type(4) td {
        border: none;
        text-align: center;
        & input {
          width: 100px;
          height: 50px;
          background-color: brown;
          color: #fff;
          border-radius: 8px;
          box-shadow: 5px 5px 0 rgb(136, 18, 18);
          &:active {
            box-shadow: none;
            margin-top: 5px;
            margin-left: 5px;
          }
        }
      }
      & th {
        width: 20%;
        height: 30px;
        line-height: 20px;
        padding-left: 20px;
        font-size: 30px;
        text-align: center;
        color: brown;
      }
      & td {
        border-bottom: 3px solid brown;
        margin-right: 10px;
        text-align: left;
        min-width: 230px;

        & input {
          width: 100%;
          height: 100%;
          color: brown;
        }
        & textarea {
          width: 100%;
        }
      }
    }
  }
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fluffy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 970px) {
  body main {
    height: auto;
    flex-direction: column;
    padding-top: 40px;
    & .mainImg {
      width: 100%;
      text-align: center;
    }
    & ul {
      margin-left: 40px;
      width: 80%;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  body .gourmet-container {
    height: 700px;
  }
  body .gourmet-container > h1 {
    margin-bottom: 150px;
  }
  body .gourmet-container .gourmet-box {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  body .gourmet-container .gourmet-box .gourmet-img {
    margin-bottom: 40px;
    width: 80%;
  }
  body .gourmet-container .gourment-text1 {
    width: 80%;
  }
  // body .gourmet-container .gourment-text1 h2{
  //   text-align: center;
  // }
  body .gourmet-container .gourment-text2 {
    width: 80%;
    text-align: center;
  }
  body .gourmet-container .gourment-text2 p {
    width: 80%;
    text-align: left;
  }

  body .movie {
    height: auto;
  }
  body .movie .moviecontainer ul {
    flex-direction: column;
  }
  body .movie .moviecontainer ul li {
    width: 50%;
    margin: 20px auto;
    & img {
      width: 100%;
    }
  }
  body .movie .moviecontainer ul li:nth-of-type(3) {
    width: 80%;
    & img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact table {
   

    & tr:nth-of-type(1) td {
      display: block;
      margin-bottom: 30px;
      width: 80%;
    }

    & tr:nth-of-type(1) th{
      padding-top: 30px;
    }
   & table th{
     padding-left: 0;
   }
   
  }

  body .contact table{
    border-spacing: 10px 60px;
  }

  body .gourmet-container .gourmet-box .gourmet-img .imagePlace.motu{
   margin-top: 30px;
  }
}

@media screen and (max-width: 740px) {
  body .comic {
    height: 1200px;
  }
  .contact textarea{
    height: 250px;
    border: 3px solid brown;
    border-bottom: none;
  }
  .contact tr:nth-of-type(3){
    & th{
      padding-top: 100px;
    }
  }

}

@media screen and (max-width:570px){
  .keishi{
    text-align: center;

  }
  .keishi a{
    font-size: 20px;
  }
  body header p{
    color: rgb(221, 38, 69);
  }
}
