body {
  width: 100%;
}

body header {
  width: 100%;
  height: 100px;
  background-color: #196161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 40px 20px;
}

body header p {
  font-size: 25px;
  color: #fff;
  margin-right: 60px;
  font-weight: bold;
  cursor: pointer;
}

body header p:hover {
  opacity: 0.7;
}

body main {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  margin: 0 auto;
  background-color: #bbe6c8;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .mainImg {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
}

body main .mainImg img {
  width: 300px;
  border-radius: 50%;
}

body main ul {
  width: 60%;
  margin-left: 40px;
  margin-top: 20px;
}

body main ul li {
  font-size: 30px;
  color: #5c5858;
  margin: 20px;
}

body main ul li a {
  color: #6c7ace;
  display: inline-block;
  margin-right: 20px;
}

body main ul li a:hover {
  opacity: 0.8;
}

body .gourmet-container {
  width: 100%;
  height: 500px;
  background-color: #cdd4cd;
}

body .gourmet-container > h1 {
  font-size: 30px;
  color: black;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}

body .gourmet-container .gourmet-box {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .gourmet-container .gourmet-box .gourmet-img {
  width: 650px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .gourmet-container .gourmet-box .gourmet-img .nextBtn {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  background-color: #5757d4;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-top: 150px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .gourmet-container .gourmet-box .gourmet-img .nextBtn:hover {
  opacity: 0.7;
}

body .gourmet-container .gourmet-box .gourmet-img .imagePlace {
  width: 80%;
  height: 300px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body .gourmet-container .gourmet-box .gourmet-img .imagePlace.mentaiko {
  background-image: url(img/mentaiko.jpg);
}

body .gourmet-container .gourmet-box .gourmet-img .imagePlace.motu {
  background-image: url(img/motu.png);
}

body .gourmet-container .gourment-text1 {
  width: 40%;
}

body .gourmet-container .gourment-text1.disapper {
  display: none;
}

body .gourmet-container .gourment-text1 h2 {
  text-align: left;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: bold;
}

body .gourmet-container .gourment-text1 p {
  font-size: 20px;
  line-height: 1.8;
}

body .gourmet-container .gourment-text2 {
  width: 40%;
}

body .gourmet-container .gourment-text2.disapper {
  display: none;
}

body .gourmet-container .gourment-text2 h2 {
  text-align: left;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: bold;
}

body .gourmet-container .gourment-text2 p {
  font-size: 20px;
  line-height: 1.8;
}

body .comic {
  width: 100%;
  height: 800px;
  background-color: #5a7a7a;
}

body .comic h1 {
  margin-bottom: 50px;
  padding-top: 80px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

body .comic .comics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .comic .comics ul {
  width: calc(100% - 100px)/3;
  height: 400px;
  margin-bottom: 100px;
  padding: 20px;
}

body .comic .comics ul li {
  width: 200px;
  margin: 0 auto;
}

body .comic .comics ul li h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

body .comic .comics ul li img {
  width: 100%;
  height: 295px;
}

body .comic .comics ul li p {
  width: 100%;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  line-height: 1.5;
}

body .movie {
  width: 100%;
  height: 500px;
  background-color: #2e7a61;
}

body .movie h1 {
  font-size: 40px;
  text-align: center;
  color: aliceblue;
  padding-top: 40px;
  margin-bottom: 30px;
}

body .movie .moviecontainer {
  width: 100%;
  height: auto;
}

body .movie .moviecontainer ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

body .movie .moviecontainer ul li {
  width: 300px;
  margin-left: 80px;
}

body .movie .moviecontainer ul li:nth-of-type(3) img {
  width: 300px;
}

body .movie .moviecontainer ul li img {
  width: 200px;
}

body .keishi {
  width: 100%;
  height: 700px;
  background-color: #dbb8bb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
}

body .keishi h1 {
  font-size: 40px;
  color: #dd4e66;
  text-align: center;
  margin-bottom: 70px;
}

body .keishi .imagesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

body .keishi .imagesBox ul {
  width: 1250px;
  height: auto;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: loop-slide 20s linear 0s infinite normal;
          animation: loop-slide 20s linear 0s infinite normal;
}

body .keishi .imagesBox ul li {
  width: 250px;
  height: 250px;
}

body .keishi .imagesBox ul li img {
  width: 100%;
  height: 100%;
}

body .keishi p {
  width: 500px;
  font-size: 25px;
  color: brown;
  margin-top: 50px;
  margin-left: auto;
  cursor: pointer;
}

body .keishi p:hover {
  opacity: 0.6;
}

body .contact {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
}

body .contact h1 {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 100px;
  font-size: 35px;
  font-weight: bold;
  color: brown;
}

body .contact table {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 40px 60px;
  margin-top: -50px;
}

body .contact table tr:nth-of-type(4) td {
  border: none;
  text-align: center;
}

body .contact table tr:nth-of-type(4) td input {
  width: 100px;
  height: 50px;
  background-color: brown;
  color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 0 #881212;
          box-shadow: 5px 5px 0 #881212;
}

body .contact table tr:nth-of-type(4) td input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 5px;
  margin-left: 5px;
}

body .contact table th {
  width: 20%;
  height: 30px;
  line-height: 20px;
  padding-left: 20px;
  font-size: 30px;
  text-align: center;
  color: brown;
}

body .contact table td {
  border-bottom: 3px solid brown;
  margin-right: 10px;
  text-align: left;
  min-width: 230px;
}

body .contact table td input {
  width: 100%;
  height: 100%;
  color: brown;
}

body .contact table td textarea {
  width: 100%;
}

@-webkit-keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes fluffy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fluffy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 970px) {
  body main {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
  }
  body main .mainImg {
    width: 100%;
    text-align: center;
  }
  body main ul {
    margin-left: 40px;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
  }
  body .gourmet-container {
    height: 700px;
  }
  body .gourmet-container > h1 {
    margin-bottom: 150px;
  }
  body .gourmet-container .gourmet-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .gourmet-container .gourmet-box .gourmet-img {
    margin-bottom: 40px;
    width: 80%;
  }
  body .gourmet-container .gourment-text1 {
    width: 80%;
  }
  body .gourmet-container .gourment-text2 {
    width: 80%;
    text-align: center;
  }
  body .gourmet-container .gourment-text2 p {
    width: 80%;
    text-align: left;
  }
  body .movie {
    height: auto;
  }
  body .movie .moviecontainer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .movie .moviecontainer ul li {
    width: 50%;
    margin: 20px auto;
  }
  body .movie .moviecontainer ul li img {
    width: 100%;
  }
  body .movie .moviecontainer ul li:nth-of-type(3) {
    width: 80%;
  }
  body .movie .moviecontainer ul li:nth-of-type(3) img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .contact table tr:nth-of-type(1) td {
    display: block;
    margin-bottom: 30px;
    width: 80%;
  }
  .contact table tr:nth-of-type(1) th {
    padding-top: 30px;
  }
  .contact table table th {
    padding-left: 0;
  }
  body .contact table {
    border-spacing: 10px 60px;
  }
  body .gourmet-container .gourmet-box .gourmet-img .imagePlace.motu {
    margin-top: 30px;
  }
}

@media screen and (max-width: 740px) {
  body .comic {
    height: 1200px;
  }
  .contact textarea {
    height: 250px;
    border: 3px solid brown;
    border-bottom: none;
  }
  .contact tr:nth-of-type(3) th {
    padding-top: 100px;
  }
}

@media screen and (max-width: 570px) {
  .keishi {
    text-align: center;
  }
  .keishi a {
    font-size: 20px;
  }
  body header p {
    color: #dd2645;
  }
}
/*# sourceMappingURL=style.css.map */